#area{
  display: inline-block;
  width: 500px;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #1aba9a;
  float: left;
  margin: 0.5rem;
}
.found{
  background: #ffcf00 !important;
}
.empty{
  background: #ff0000 !important;
}
span{
  font-weight: bold;
}
.label{
  font-weight: bold;
  font-size: 13rem
}
